    <div class="contenaire">
        <div class="screen"> 
            <form class="login "> 
                <input type="email" name="email" class="email" placeholder="User name or Email"/>
                <input type="password" class="password" placeholder="password"/>
                <button onclick="here" class="button">login</button> 
            </form>  
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape5"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
                <!--<span class="screen__background__shape screen__background__shape5"></span> -->
            </div>   
            <img src=" https://v17.angular.io/assets/images/logos/angular/logo-nav@2x.png" alt="picture" class="figure">            
        </div>          
    </div>          
        <button class="click" (click)="crer()" type="submit">creé un compte</button>